.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        padding-left: 25px;
    }

    &__item {
        margin-bottom: 100px;
        display: flex;

        &:nth-child(even) {
            margin-left: 40px;
            transform: translateY(15px);
        }

        &:nth-child(3) {
            margin-left: 30px;

            &::before {
                background-image: url('../images/line-3.svg');
                width: 254px;
                height: 43px;
                right: -52px;
                top: 28px;
            }

            &::after {
                background-image: url('../images/line-2.svg');
                width: 463px;
                height: 62px;
                top: -81px;
                right: -29px;
            }
        }

        &:nth-child(4) {
            margin-left: 30px;
        }

        &:first-child,
        &:nth-child(3) {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;
            }

        }

        &:first-child {

            &::before {

                height: 48px;
                width: 245px;
                background-image: url('../images/line-1.svg');
                right: -53px;
                top: 25px;

            }
        }


    }



    &__num {
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
        margin-right: 10px;
        display: flex;
        align-items: flex-end;
    }

    &__img {
        position: relative;
        margin-right: 32px;

        &::before {
            content: "";
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
            right: -12px;
            top: -12px;
            z-index: -1;
        }
    }

    &__info {
        width: 300px;
    }

    &__info-title {
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        max-width: 123px;
        margin-bottom: 10px;
    }

    &__info-text {
        font-size: 15px;
        line-height: 19px;
        @extend %ubuntu-light;


    }
}