.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    &__copy{
        text-align: right;
        color: rgba(#fff, .64);
        font-size: 13px;
        line-height: 15px;
    }
}