.products {
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 56px;
    }

    &__text {
        max-width: 440px;

        p {
            margin-bottom: 30px;
        }
    }

    &__slider {
        max-width: 560px;
    }

    &__slider-box {
        position: relative;
        padding-top: 112px;
    }

    &__slider-text {
        position: absolute;
        text-align: right;
        bottom: 30px;
        left: -249px;
        z-index: 8;
        font-size: 24px;
        line-height: 28px;
        max-width: 281px;
        @extend %ubuntu-medium;
    }
    &__slider{
        max-width: 560px;
        &::before{
            content:"";
            position: absolute;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }
}
.slider-btn{
    padding: 16px 26px;
    border: none;
    background-color:#fff;
    position: absolute;
    bottom: -49px;
    right: 0;
    cursor: pointer;
    z-index: 5;
    &.slick-disabled{
        background-color: #000;
        svg{
            stroke: #fff;
        }
    }
    &__left{
        right: 60px;
    }
    svg{
        stroke: #000;
    }
}